.about {
  padding: 16px 8px 8px 8px;
  width: 100%;
}

.about .about_link {
  color: #161823;
  display: block;
  width: max-content;
  margin-bottom: 10px;
  padding: 8px;
}

.about .about_link:not(span):hover {
  text-decoration: underline;
}
