.post {
  width: 772px;
  max-width: 772px;
  padding: 20px 0;
  border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
  position: relative;
}

.post_user_image {
  float: left;
  text-decoration: none;
  width: 56px;
  height: 56px;
  border: 0.5px solid rgba(22, 24, 35, 0.12);
  border-radius: 50%;
}

.post_user_image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post_content {
  position: relative;
  margin-left: 68px;
}

.post_content_user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  margin-right: 150px;
}

.post_content_user--name {
  margin: 0px;
  margin-right: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.post_content_user--subname {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0px;
  color: #000;
  text-decoration: none;
}

/* post content follow button */

.post_content_follow {
  position: absolute;
  right: 0;
  top: 8px;
}
.post_content_follow .post_content_follow--following {
  color: #000;
  border-color: #000;
}

/* post caption */

.post_content_caption {
  font-size: 16px;
  line-height: 22px;
  color: rgb(18, 18, 18);
  flex: 0 0 auto;
  font-weight: 400;
  margin-bottom: 0px;
  word-break: break-word;
  margin-right: 150px;
}

.post_content_caption--topic {
  font-weight: 400;
  color: rgb(18, 18, 18);
  cursor: pointer;
  margin-left: 5px;
}
.post_content_caption--topic:hover,
.post_content_music:hover {
  text-decoration: underline;
}

/* post music data */
.post_content_music {
  margin-top: 4px;
  margin-bottom: 12px;
  max-width: 524px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* post video */
.post_content_video {
  position: relative;
  display: inline-block;
}

.post_content_video_player {
  width: 336px;
  height: 600px;
}

.post_content_video--actions {
  position: absolute;
  right: -64px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
