.page_main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-layout-wrapper {
  padding-top: calc(5vh + 20px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  flex: 1;
}

.main-layout-content {
  padding: 24px 0px;
  margin: 0px 16px;
  width: 772px;
  max-width: 772px;
}
