* {
  font-family: 'Lato', sans-serif;
}

/* Page Layout */

.splitScreen-signUpForm {
  display: flex;
  flex-direction: row;
}

.splitScreen-signUpForm-leftPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.splitScreen-signUpForm-rightPane {
  width: 50%;
  background-color: black;
}

/* LeftPane */

.leftPane-signUpForm-fullnameContainer, .leftPane-signUpForm-usernameContainer, .leftPane-signUpForm-emailContainer, .leftPane-signUpForm-passwordContainer, .leftPane-signUpForm-repeatPasswordContainer, .leftPane-signUpForm-fileUploadContainer {
  display: flex;
  flex-direction: column;
}

/* RightPane */

video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
