.search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.search_divider {
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background: rgba(22, 24, 35, 0.12);
}

.search_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  width: 292px;
  caret-color: #fe2c55;
}

.search_button {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.search_suggestion {
  position: absolute;
  width: 100%;
  margin-top: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  padding-top: 8px;
  box-sizing: border-box;
  max-height: min((100vh - 96px) - 60px, 734px);
  overflow: hidden auto;
}

.search_suggestion .search_suggestion_posts--item {
  padding: 9px 16px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.search_suggestion_posts--item .search_icon {
  height: 20px;
  flex: 0 0 20px;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  margin-right: 8px;
}
.search_suggestion_posts--item .search_content {
  flex: 0 1 auto;
  min-width: 0px;
}
.search_suggestion_posts--item .search_content h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search_account_label {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
