.search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.search_divider {
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background: rgba(22, 24, 35, 0.12);
}

.search_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  width: 292px;
  caret-color: #fe2c55;
}

.search_button {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
