.main-post-container{
  height: 1000px;
}

/* .test-data {
  padding-top: 100px;
} */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  margin-top: 100px;
  width: 200px;
  height: 300px;
}
