.video_meta {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
}

.video_meta.horizon {
  flex-direction: row;
}

.video_meta--icon--wrap {
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out 0s;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video_meta b {
  display: inline-block;
  text-align: center;
  margin-top: 6px;
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  padding: 0px 7px 0px 8px;
}
