* {
  font-family: 'Lato', sans-serif;
}

/* Page Layout */

.splitScreen {
  display: flex;
  flex-direction: row;
}

.leftPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.rightPane {
  width: 50%;
}

/* LeftPane */

.leftPane-loginForm-emailContainer, .leftPane-loginForm-passwordContainer {
  display: flex;
  flex-direction: column;
}

/* RightPane */

video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
