.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 100vw; */
  height: 5vh;
  box-shadow: 0 5px 5px -2px rgb(233, 233, 233);
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px 0;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
}

.nav-bar li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 5px;
}

.right-nav-container {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.right-nav-container .button-upload {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.right-nav-container .button-upload:hover {
  text-decoration: underline;
}

.right-nav-container .button-login {
  height: 36px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  min-width: 100px;
}

.nav-link {
  text-decoration: none;
}

.nav-links-right {
  color: slategray;
}

.nav-links-right:hover {
  color: black;
}

.feed-text {
  position: absolute;
  margin-left: 49%;
  align-self: center;
}

.nav-bar-logo {
  font-family: 'Pacifico';
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-bar-logo:visited {
  font-family: 'Pacifico';
  text-decoration: none;
}

.nav-bar-logo-link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar-logo {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .nav-bar-image {
    margin-right: 27px;
  }
}
