.for_you {
  padding: 0;
  margin-bottom: 8px;
}

.for_you_link {
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: #161823;
  text-decoration: none;
}

.for_you_link-name {
  font-weight: 700;
  margin-left: 8px;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: #161823;
  word-break: break-all;
}

.active_link .for_you_link-name {
  color: inherit;
}
